[{eredis_cluster, [
    {init_nodes,[
        {"localhost", 6379}
    ]},
    {pool_size, 5},
    {pool_max_overflow, 0}
]},
{apns, [
	{apple_host, "gateway.sandbox.push.apple.com"},
	{apple_port, 2195},
	{cert_file, "/etc/certs/pushcert.pem"},
	{key_file, "/etc/certs/pushkey.pem"},
	{cert_password, "pass"},
	{timeout, 30000},
	{expires_conn, 300},
	{feedback_port, 2196},
	{feedback_host, "feedback.sandbox.push.apple.com"},
	{feedback_timeout, 18000000}
]},
{mnesia, [
	{dir, "/var/data/mnesia/"}
]},
{secure_chat, [
	{nodes, ['chat1@chat1.drtyhbo.com', 'chat2@chat2.drtyhbo.com', 'chat3@drtyhbo.hsd1.ca.comcast.net.']}
]}].